<div class="note-wrapper">
    <div class="controls">
        <button id="control-pause">
            <i class="gg-icon gg-play-pause"></i>
        </button>
        <button id="control-play">
            <i class="gg-icon gg-play-button"></i>
        </button>
    </div>
    <h3 id="a-note">-</h3>
    <button class="start-button">Start</button>
</div>

<aside>
    <div class="card--info">
        <header>frequency (hz)</header>
        <p id="a-frequency">-</p>
    </div>

    <div class="card--info">
        <header>cents</header>
        <p id="a-cents">-</p>
    </div>
</aside>