<div class="d-inline-flex gap-4">
    <button *ngIf="!started" type="button" class="btn btn-success" (click)="start()">Start</button>
    <div *ngIf="started" class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="resumeAnalyser()">
            <fa-icon [icon]="['fas', 'play']"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary" (click)="pauseAnalyser()">
            <fa-icon [icon]="['fas', 'pause']"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary" (click)="stopAnalyser()">
            <fa-icon [icon]="['fas', 'stop']"></fa-icon>
        </button>
    </div>
    <div class="d-grid gap-2 d-md-flex">
        <ng-container *ngFor="let algo of getAlgorithms()">
            <button (click)="togglePitchDetector(algo.name)" class="btn"
                [ngClass]="algo.active ? 'btn-primary' : 'btn-outline-primary'">{{algo.name}}</button>
        </ng-container>
    </div>
</div>

<div>
    <ng-container *ngFor="let algo of getData()">
        <div>
            <div>
                <h2>{{algo.name}}</h2>
            </div>
            <div>
                <div>
                    <div class="card--info">
                        <header>note</header>
                        <p id="a-frequency">{{algo.data.note}}</p>
                    </div>
                    <div class="card--info">
                        <header>frequency (hz)</header>
                        <p id="a-frequency">{{algo.data.frequency}}</p>
                    </div>
                    <div class="card--info">
                        <header>cents</header>
                        <p id="a-cents">{{algo.data.cents}}</p>
                    </div>
                </div>
                <div>
                    scroll graph of freq
                </div>
            </div>
        </div>

    </ng-container>
</div>